/* .fp-scroll-gallery .fp-scroll-container {
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
}

.fp-swiper-storyline .item {
    scroll-snap-align: start;
} */

.fp-swiper-storyline .item .fp-mask {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fp-swiper-storyline .item.is-active .fp-mask {
    opacity: 1;
}