.fp-testimonials-list {
    height: 380px;
    margin-bottom: 10px;
}

.fp-testimonials-list .item {
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.fp-testimonials-list .item .fp-meta {
    transition: opacity 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.fp-testimonials-list .item:hover {
    width: 300px;
    height: 380px;
}

.fp-testimonials-list .item:hover .fp-meta {
    animation: fadeInMeta 1s ease forwards;
    animation-delay: 0.3s;
}

@keyframes fadeInMeta {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}