@import "tailwindcss";

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    --breakpoint-sm: 735px;
    --breakpoint-md: 1069px;
    --breakpoint-lg: 1441px;
    --breakpoint-xl: 1599px;
}

@layer components {
    .fp-section-heading {
        @apply text-[16px] font-semibold text-[#3C3C3C];
    }

    .dark .fp-section-heading {
        @apply text-[#f5f5f5];
    }
}

:root {
    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);
    --ease-in: cubic-bezier(0.55, 0, 0.1, 1);
    --text-color: #020617;
    font-family: var(--font-montserrat), sans-serif;
    --radius: 0.625rem;
    /* --background: oklch(1 0 0); */
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #F0F0F0;
    }
}

.dark {
    --text-color: #F0F0F0;
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

body {
    color: #333;
    background: #F5F5F5;
    transition: background-color 1.2s ease;
    overflow: hidden;
}

html.dark body {
    background: #1A1A1A;
    color: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #121212;
    color: #ffffff;
  }

    .fp-heading,
    .fp-heading .char {
        color: #fff;
    }
}

.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width: 735px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 1069px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1599px) {
    .container {
        max-width: 1500px;
    }
}

body.white-mode {
    animation: flash-blind 0.6s ease-out;
}

@keyframes flash-blind {
    0% {
        filter: brightness(1);
    }
    30% {
        filter: brightness(4);
    }
    100% {
        filter: brightness(1);
    }
}

.navbar-transition {
    opacity: 0;
    transform: translateY(-20px);
    transition:
        opacity 0.6s ease-out,
        transform 0.6s ease-out;
}

.navbar-transition.navbar-show {
    opacity: 1;
    transform: translateY(0);
}

#flash-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;

    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.9) 40%,
        rgba(255, 255, 255, 0.75) 60%,
        rgba(255, 255, 255, 0.3) 85%,
        rgba(255, 255, 255, 0) 100%
    );

    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    filter: blur(50px);
    transition:
        opacity 0.1s ease-out,
        transform 0.55s cubic-bezier(0.16, 1, 0.3, 1),
        filter 0.55s ease-out;
}

body.white-mode #flash-overlay {
    opacity: 1;
    width: 2200px;
    height: 2200px;

    transform: translate(-50%, -50%) scale(1);
    filter: blur(0px);
}

body.white-mode.flash-done #flash-overlay {
    opacity: 0;

    filter: blur(80px);
    transition:
        opacity 0.5s ease-in,
        filter 0.6s ease-in;
}

/* Swiper */
.slide-inner {
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
}

.fp-swiper-work {
    overflow: visible !important;
}

.fp-swiper-work .swiper-wrapper {
    transition-timing-function: ease-in-out !important;
}

/* Pagrindinis kamuolys */
.gradient-ball {
    position: absolute;
    width: 400px;
    height: 400px;
    pointer-events: none;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255, 90, 0, 0.5),
        rgba(255, 0, 120, 0.25),
        rgba(0, 0, 0, 0)
    );
    filter: blur(70px);
    mix-blend-mode: screen;
}

.fp-swiper-work .swiper-slide {
    cursor: none;
}

/* Home */
.fp-sec-hero-home:not(.bg-white) .char {
    color: #333;
    transition: color 0.1s ease;
}

.fp-sec-hero-home:not(.bg-white) .char.revealed,
.dark body.hero-animation-finished .fp-sec-hero-home .char {
    color: #fff;
}