.stage {
  position: relative;
  overflow: hidden;

  background:
    linear-gradient(to right, rgba(255,255,255,0.5) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.5) 1px, transparent 1px),
    linear-gradient(transparent, transparent);
  background-size: var(--cell) var(--cell), var(--cell) var(--cell), auto;
}

.blocks {
  position: absolute;
  inset: 0;
}

.block {
  position: absolute;
  width: calc(var(--cell) - 0.3px);
  height: calc(var(--cell) - 0.3px);
  background: #1A1A1A;
  /* transform: translate(var(--fromX), var(--fromY)) scale(var(--fromS));
  opacity: var(--fromO); */

  /* “išsiardymas → susidėjimas” */
  animation: morph var(--dur) cubic-bezier(0.2, 0.8, 0.2, 1) both;
  will-change: transform, opacity;
}

@keyframes morph {
  0% {
    transform: translate(var(--fromX), var(--fromY)) scale(var(--fromS));
    opacity: var(--fromO);
  }

  /* išsiardymo fazė */
  48% {
    transform:
      translate(calc(var(--fromX) + var(--sx)), calc(var(--fromY) + var(--sy)))
      scale(1);
    opacity: 1;
  }

  /* susidėjimo fazė */
  100% {
    transform: translate(var(--toX), var(--toY)) scale(var(--toS));
    opacity: var(--toO);
  }
}