.wrapper {
  position: relative;
  border-radius: 9999px;
  background: #d9d9d9;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* centrinis “VIDEO” */
.centerText {
  position: relative;
  z-index: 1;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 28px;
}

/* svg su ratu */
.svg {
  position: absolute;
  inset: 0;
  animation: spin-circle 18s linear infinite;
  transform-origin: 50% 50%;
}

/* teksto stilius apskritime */
.svg text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 6px;
  text-transform: uppercase;
}

/* sukimosi animacija */
@keyframes spin-circle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}